@import "bootstrap";

.navbar-default {
  margin-bottom: 0;
}

.navbar-default .navbar-brand {
  font-family: 'Lobster Two';
  font-weight: bold;
  font-size: 36px; 
  /*color: rgb(0, 199, 254);*/
}

.navbar-default .navbar-brand:hover {
  color: rgb(0, 199, 254);
}

.navbar-default .navbar_login {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 9px;
  background-color: rgb(0, 199, 254);
  min-width: 85px;
}

.navbar-default .navbar-nav .navbar_login:hover {
  background-color: rgb(254, 182, 0);
}

html, body, .container-fluid, .row, .description {
  height: 100%;
}

.headline {
  font-family: 'Lobster Two';
  font-size: 72px;
}

.tagline {
  font-family: 'Lobster Two';
  font-size: 56px;
  font-style: italic;
  text-align: center;
}

.submit {
	margin-top: 20px;
}


.description {
	background-color: rgb(0, 199, 254);
	height: 100%;
}

/*----------------------------------------
              show_tweets
----------------------------------------*/

.container-fluid.show_tweets_container {
  background-color: rgb(0, 199, 254);
}

.time_line {
  border: 1px solid white;
  border-radius: 10px;
  padding: 0;
  background-color: white;
  margin-top: 15px;
}

.tweet_shell:hover {
  border-radius: 10px;
  background-color: rgb(234,251,255);
}

.tweet {
  border-bottom: 1px solid black;
  min-height: 100px;
  padding: 10px 10px 0;
  position: relative;
}

.user_name {
  margin-bottom: 5px;
  color: #777777;
}

.user_name:hover {
  color: rgb(0, 199, 254);
} 

.btn_favorite {
  float: right;
  font-size: 18px;
  position: absolute;
  top: 4px;
  right:4px;
  color: #777777;
}

.btn_favorite:hover {
  color: rgb(0, 199, 254);
}




