@import "bootstrap";

.navbar-default {
  margin-bottom: 0;
}

.navbar-default .navbar-brand {
  font-family: 'Lobster Two';
  font-weight: bold;
  font-size: 36px; 
  /*color: rgb(0, 199, 254);*/
}

.navbar-default .navbar-brand:hover {
  color: rgb(0, 199, 254);
}

.navbar-default .navbar_login {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 9px;
  background-color: rgb(0, 199, 254);
  min-width: 85px;
  background-color: white;
  border: 1px solid rgb(0, 199, 254);
}

.navbar-default .navbar-nav .navbar_login:hover {
  background-color: rgb(254, 182, 0);
}

.show_mobile {
  display: none;
}

.fa-twitter {
  font-size: 400px;
  /*text-align: center;*/

  margin: 50px;
}

html, body, .container-fluid,form, .main {
  height: 100%;
}

.headline {
  font-family: 'Lobster Two';
  font-size: 72px;
  text-align: center;
/*  margin-top: 0; 
  padding-top: 20px;*/
}

.tagline {
  font-family: 'Lobster Two';
  font-size: 56px;
  font-style: italic;
  text-align: center;
}

.form {
  margin-top: 35px;
}

.submit {
	margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(254, 182, 0);
  border-color: none;
  padding: 17px 32px;
  font-size: 23px;
  border: 1px solid black;
}

.centered {
  text-align: center;
}

.submit:hover {
  background-color: white;
}

.login {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(254, 182, 0);
  border-color: none;
}

.login:hover {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(0, 199, 254);
  border-color: none;
}

.description {
	background-color: rgb(0, 199, 254);
	height: 100%;
  overflow: auto;
}

@media (max-width: 400px) {

  .headline {
    font-size: 57px;
    clear: both;
  }

  .tagline {
    font-size: 26px;
  }

  .fa-twitter {
    font-size: 200px;
  }

  .hide_mobile {
    display: none;
  }

  .show_mobile {
    display: inline-block;
  }

  .mobile_login {
    border: 1px solid black;
    background-color: white;
    float: right;
    margin-bottom: 5px;
    margin-top: 5px;
  }

}

/*----------------------------------------
              show_tweets
----------------------------------------*/

.container-fluid.show_tweets_container {
  background-color: rgb(0, 199, 254);
}

.time_line {
  border: 1px solid white;
  border-radius: 10px;
  padding: 0;
  background-color: white;
  margin-top: 15px;
}

.tweet_shell:hover {
  border-radius: 10px;
  background-color: rgb(234,251,255);
}

.tweet {
  border-bottom: 1px solid black;
  min-height: 100px;
  padding: 10px 10px 0;
  position: relative;
}

.user_name {
  margin-bottom: 5px;
  color: #777777;
}

.user_name:hover {
  color: rgb(0, 199, 254);
} 

.btn_favorite {
  float: right;
  font-size: 18px;
  position: absolute;
  top: 4px;
  right:4px;
  color: #777777;
}

.btn_favorite:hover {
  color: rgb(0, 199, 254);
}




